"""Tests for {{ component_type }}: {{ name }}."""


def test_{{ func_name }}_exists():
    """Verify {{ name }} can be imported."""
    from {{ module }}.{{ component_dir }}.{{ file_stem }} import {{ func_name }}
    assert callable({{ func_name }})